select {
  position: relative;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  background-color: #cf9cc3;
  color: #272938;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  transition: filter 50ms ease-in-out;
  transition: background-color 150ms ease-in-out;
  filter: drop-shadow(4px 5px 0 black);
  border: 1px solid black;
}

option {
  filter: drop-shadow(4px 5px 0 black);
  border: 1px solid black;
}
