.DatePicker {
  border-radius: 15px;
  padding: 2px;
  border-style: none;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #f7eefa;
  color: #272938;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  transition: filter 50ms ease-in-out;
  filter: drop-shadow(4px 5px 0 black);
  border: 1px solid black;
}
